*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x:hidden; 
}

@import url('../font/GoogleSans-Regular.ttf');
/*----------HEADER----------*/
.logo img{
	width: 9%;
}

nav li{
	display: inline-block;
	padding: 15px 40px;
	letter-spacing: 1px;
	font-size: 15px;
	font-family: 'Lato';
	font-weight: bold;
	color: #f8f9fa;
}

ul{
	margin: 0px !important;
}

header{
	padding-top: 15px;
	position: absolute;
	width: 100%;
}

.display{
	padding-top: 83px;	
	font-family: 'K2D';
	color: #f8f9fa;
}

.text-display{
	font-size: 45px;
    line-height: 66px;
}

.btn-circle{
	border-radius: 7px !important;
}

section#bg {
	background-image: url('../img/bg.jpg');
	width: 100%;
	height: 100vh;
	background-position: bottom;
	background-size: cover;
}

/*----------ABOUT----------*/
section#about .container{
	padding: 50px 105px;
}

section#about .card{
	padding: 20px 150px 20px 20px;
    box-shadow: 0px 50px 65px -20px #5a4f4f3b;
	background-color: #7da87b;
	margin-bottom: 90px;
    margin-right: 20px;
}

section#about h2{
	overflow: hidden;
	font-family: "fredoka one";
	text-transform: uppercase;
	margin-bottom: 50px;
}

section#about span{
	color: #1db923;
}

section#about p{
	padding: 30px;
    font-size: 25px;
    color: #ffffff;
}

/*----------About Us----------*/
section#about-us{
	background: url(../img/bg5.png) no-repeat center;
	background-size: cover;
	padding: 50px 0 100px 0;
}

section#about-us h2{
	overflow: hidden;
	font-family: "fredoka one";
	text-transform: uppercase;
	margin-bottom: 20px;
}

section#about-us .card{
	border: none;
	background: none;
}

section#about-us p{
	font-family: "Google Sans", sans-serif;
	line-height: 35px;
	color: whitesmoke;
}


/*----------News----------*/
section#news{
	padding: 100px 0 100px 0;
}

section#news .card{
	border: none;
	margin-bottom: 50px;
}

section#news img{
	width: 100%;
}

section#news a{
	text-decoration: none;
}

section#news h2{
	text-transform: uppercase;
    font-family: 'fredoka one';
    margin-bottom: 50px;
}

section#news h6{
	overflow: hidden;
	color: #000000;
}

section#news .text-heading{
	color: #1db923;
}

section#news i{
	color: #7da87b;
	font-style: unset;
}

/*----------Our-Services----------*/
section#services{
	background-color: #7da87b;
	text-align: center;
}

section#services .box{
    display: inline-block;
    padding: 50px;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

section#services h2{ 
	overflow: hidden;
	text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "fredoka one";
}

section#services i{
	font-size: 35px;
	overflow: hidden;
}

section#services h5{
	overflow: hidden;
    margin-top: 20px;
    font-weight: 600;
}

section#services p{
	color: whitesmoke;
	line-height: 30px;
}

/*----------The-Team----------*/
section#the-team{
	padding: 100px 0 100px 0;
	background-color: #f1f1f1;
	text-align: center;
}

section#the-team .row{
	overflow: hidden;
}

section#the-team .card{
	margin-bottom: 50px;
    box-shadow: 0 5px 30px -5px #5a4f4f3b;
    font-family: "Google Sans", sans-serif;
}

section#the-team img{
	width: 100%;
    margin-bottom: 15px;
}

section#the-team h2{
	overflow: hidden;
	display: inline-block;
	font-size: 30px;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-family: "fredoka one";
}

section#the-team .tagname{
	margin-bottom: 30px;
}

section#the-team .tagname h5{
	overflow-y: hidden; 
	font-weight: 600;
}

section#the-team .title{
	color: grey;
}

section#the-team .text{
	padding: 0 20px 0 20px;
}

/*----------Recent-Client----------*/
section#recent-client{
	padding: 50px 0 50px 0;
	background: #7da87b;
}
section#recent-client .card{
	margin-bottom: 50px;
	text-align: center;
	background: #5b845961;
	border: none;
	box-shadow: 0 5px 30px -5px #5a4f4f3b;
}

section#recent-client img{
	width: 90%;
	margin: auto;
}

section#recent-client h2{
	overflow: hidden;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-family: "fredoka one";
	text-align: center;
}

section#recent-client h5{
	overflow: hidden;
	text-transform: uppercase;
	font-family: "fredoka one";
	margin: 20px;
}

section#recent-client p{
	font-family: "Google Sans", sans-serif;
	color: whitesmoke;
	padding: 25px;
}

/*----------TESTIMONIALS----------*/
section#testimonials{
	padding: 100px 0 100px 0;
	background-color: #f1f1f1;
	text-align: center;
}

section#testimonials .card{
	margin-bottom: 50px;
    box-shadow: 0 5px 30px -5px #5a4f4f3b;
}

section#testimonials h2{
	overflow: hidden;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-family: "fredoka one";
}

section#testimonials img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: auto;
	margin-top: 30px;
}

section#testimonials h5{
	overflow: hidden;
	margin-top: 20px;
	font-weight: 600;
}

section#testimonials .info{
	margin-bottom: 60px;
	font-family: "Google Sans", sans-serif;
}

section#testimonials .title{
	color: grey;
	margin-bottom: 20px;
}

section#testimonials p{
	padding: 0 5px;
}
/*----------PARTNERS----------*/
section#partners{
	padding: 100px 0 100px 0;
	text-align: center;
}

section#partners .card{
	background-color: #f1f1f1;
	box-sizing: border-box;
    border: none;
    filter: saturate(0);
    padding: 40px;
    margin-bottom: 15px;
}

section#partners h2{
	overflow: hidden;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-family: "fredoka one";
}

section#partners img{
	width: 100%;
}

/*----------CONTACT US----------*/
section#contact{
	background: url(../img/bg3.png) no-repeat center;
    background-size: cover;
    padding: 170px 0 115px;
}

section#contact .card{
	border:none;
}

section#contact h3{
	overflow: hidden;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-family: "fredoka one";
}

section#contact span{
	color: #1db923;
}

section#contact .contact-form{
	width: 100%;
	margin: auto;
	padding: 20px;
	overflow: hidden;
}

section#contact .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    padding: 20px 40px;
    outline: none;
    background-color: #f1f1f1;
    color: #555555;
    font-family: "Google Sans", sans-serif;
	
}

section#contact textarea{
	resize: none;
	height: 120px;
	border-radius: 30px;
}

section#contact .btn{
	float: right;
	border-radius: 30px;
}

section#contact .input-grup{
	position: relative;
	margin-bottom: -15px;
}

section#contact .input-grup input{
	padding : 13px 20px;
  	text-indent : 25px;
  	min-width : 100px;
  	width : 100%;
  	border-radius : 30px;
  	outline : none;
  	background : #f1f1f1;
  	color : #555555
}

section#contact .input-grup i{
  position : absolute;
  top : 33px;
  left : 15px;
  color : #3333334f
}

section#contact span{
	color: #1db923;
}

section#contact .input-grup input:focus{
	background:#e8e3e347;
}

section#contact textarea:focus{
	background:#e8e3e347;
}

/*----------FOOTER----------*/
footer{
	width: 100%;
	background-color: #5b8459;
	color: white;
	font-family: "Google Sans", sans-serif;
}

footer .box{
	display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    background: #f1f1f1;
    border-radius: 30%;
    color: #5b8459;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 15px -5px #00000070;
}

footer .box i{
	line-height: 40px;
    font-size: 18px;
    transition: 0.2s linear;
}

footer .sosmed{
	margin: 30px;
}

footer .middle{
	text-align: center;
}

footer i{
	font-size: 12px;
	margin: 0 1px;
	overflow: hidden;
}

footer span{
	color: #41d061c7;
}

footer .box:hover i{
	transform: scale(1.2);
	color: #f1f1f1;
}

footer .box-ig::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}
footer .box-yt::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #e52d27;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}
footer .box-twitter::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #00aced;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}
footer .box-fb::before{
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background: #3b5998;
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

footer .box:hover::before{
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;	
}

@keyframes aaa{
	0%{
		left: -110%;
		top: 90%;
	}50%{
		left: 10%;
		top: -30%;
	}100%{
		left: -10%;
		top: -10%;
	}

}








